@font-face {
	font-family: "Source Code Pro";
	src: url("css/fonts/SourceCodePro-Regular.ttf.woff2") format('woff2');
}

body {
	background: #1C1E27;
	color: #CACACC;
	font-family: "Source Code Pro";
}

