@font-face {
	font-family: "Source Code Pro";
	src: url("./fonts/SourceCodePro-Semibold.ttf.woff2") format('woff2');
}
@font-face {
	font-family: "Source Code Pro Black";
	src: url("./fonts/SourceCodePro-Black.ttf.woff2") format('woff2');
}

body {
	background: #1C1E27;
	color: #CACACC;
	font-family: "Source Code Pro";
	letter-spacing: -0.1rem;
	font-size: 1.1rem;
	max-width: 700px;
	margin: auto;
	padding: 40px 20px;
}

header {
	color: #24e39d;
	text-decoration: none;
}

a:link {
	color: #00A5AF;
}


.logo {
	font-family: "Source Code Pro Black";
	text-decoration: none;
}

.logo div{
	white-space: pre;
	color: #24E39D;
}

pre {
	font-family: "Source Code Pro Black";
}

.navbar {
	padding: 0;
	margin: 20px 0;
	display: block;
	list-style-type: none;
} 

.navbar li {
	display: inline-block;
}

.navbar a {
	display: inline-block;
	padding: 14px 16px;
}

h1 {
	text-align: center;
	color: #E4436F;
	font-family: "Source Code Pro";
}

h2 { 
	color: #00A5AF;
}

h3 { 
	color: #EDA685;
}

code {
	font-family: "Source Code Pro";
	word-wrap: break-word;
	color: #24E39D;
}

